#promo {
  text-align: center;
  padding: 40px;
  background: url(../../assets/img/background.jpg) no-repeat;
  background-size: cover;
}

@media (min-width: 991px) {
  #promo .jumbotron {
    border-radius: 20px;
    padding: 40px;
    background-color: rgba(255,255,255,0.75);
    max-width: 800px;
    margin: 0 auto;
  }
}

#promo .jumbotron {
  padding: 20px;
}

.container.site-section {
  text-align: center;
  padding: 60px;
}

#welcome p {
  max-width: 800px;
  font-size: 20px;
  margin: 0 auto;
}

.site-section h1 {
  font-weight: normal;
  margin-bottom: 30px;
}

.site-section {
  text-align: center;
  padding: 50px 0 60px;
}

#why .item i {
  font-size: 42px;
}

#why .item h2 {
  font-weight: normal;
}

#logo {
  max-height: 42px;
  margin-right: 10px;
  margin-top: -3px;
  display: inline-block;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.5);
}

.navbar.navbar-light.navbar-expand-md {
  background-color: rgb(41,44,47);
}

